#AkidukiSystems Basic Lib
hsptmp
obj
packfile
*.ax

#16bit Emulator
error.txt
dump_*.bin
dump_*.txt
github.css
stacktrace.txt

#ASM Assembled Binary
Assembler/*.com
Assembler/*.sys
Assembler/*.bin
Assembler/*.img
Assembler/*.dbg

#VSCode system file
.vscode/