#AkidukiSystems Basic Lib
hsptmp
obj
packfile
*.ax

#16bit Emulator
error.txt
dump_*.bin
github.css
stacktrace.txt

#ASM Assembled Binary
Assembler/*.com
Assembler/*.sys
Assembler/*.bin
Assembler/*.img
Assembler/bom.asm
Assembler/bios(vram).asm
Assembler/*.dbg

#VSCode system file
.vscode/